<?xml version="1.0" encoding="UTF-8"?>
<suite name="Store suite" group-by-instances = "true">
    <listeners>
        <listener class-name="by.stormnet.core.common.AnnotationTransformer"/>
    </listeners>
    <test verbose="2" name="Online store tests">
        <classes>
            <class name="project.by.stormnet.functional.tests.NewsletterSubscribeTest"/>
            <class name="project.by.stormnet.functional.tests.LoginTest"/>
            <class name="project.by.stormnet.functional.tests.CreateAccountTest"/>
            <class name="project.by.stormnet.functional.tests.CardProductTest"/>
            <class name="project.by.stormnet.functional.tests.ContactPageTest"/>
        </classes>
    </test>
</suite>